* {
	overflow-x: hidden;
}

body {
	font-size: 50pt;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	height:281vh;
	width: 100vw;
}

#navbar {
	position: fixed;
	background-color: white;
	width: 100%;
	height: 60px;
	z-index: 2;
	font-size: 10pt;
	top: 0;
	left: 0;
	display: none;
}

#navbar2 {
	position: absolute;
	width: 100%;
	height: 60px;
	z-index: 2;
	font-size: 10pt;
	top: 0;
	left: 0;
}

#sidr {
	font-family: 'Open Sans', sans-serif;
	background-color: black;
}

#sidr>p{
	color: gray;
	text-align: left;
	font-size: 10.2pt;
	line-height: 18pt;
}

#sidr span {
	font-size: 10.8pt;
	color: white;
}

#nav_head {
	margin-top:20px;
	float:left;
	margin-left: 5%;
	font-size: 11pt;
}

.bold {
	font-weight: bold;
}

.icons {
	margin-top:20px;
	float: right;
	margin-right: 5%;
	font-size: 10px;
}

.subicons {
	float:left;
	margin-right: 20px;
}

#container {
	position: relative;

}

a {
	text-decoration: none;
	color: black;
}

span>a {
	margin-right: 10px;
}

div>a>img {
	margin-left: 10px;
}

#video_area {
	color: white;
	background-image: url(/startImg_2.gif);
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	font-size: 11pt;
	font-weight: 200;
}

#text {
	position:absolute;
 	top:40%;
 	left:18%;
 	width: 64%;
 	min-height: 20%;
 	font-weight: 300;
 	opacity: 1;
 	font-size: 10.1pt;
 	letter-spacing: 4.5px;
 	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.009);
}

#text_container {
}

#page2_text{
  position:absolute;
  top:5%;
  font-family: Vollkorn;
  left:35%;
  text-align: left;
  width: 35%;
}

#page2_text p{
	font-size: 10pt !important;
	line-height: 15pt;
	font-weight: 550;
}

#text_container>span {
	font-weight: 399;
	font-size: 34pt;
	letter-spacing: 18px;
}

#select_area{
	position: absolute;
	top:33%;
  	left:38%;
  	width: 25%;
  	height: 30%;
  	z-index: 2;
}

#playButton{
  position:absolute;
  top:37%;
  left:47%;
}

#background {
	z-index: 1;
	display: inline-block;
}

#black_layer {
	background-color: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	z-index: 1;
}

.background {
	display: inline-block;
	width: 50vw;
	height: 50vh;
	float: left;
}

.grayscale {
    filter: client/filters.svg#grayscale; /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.hidden {
	display: none;
}

.fade {
	opacity:1;
	background-color: black !important;
}

#video {
	position: absolute;
	z-index: 3;
	width: 83vw;
	height: 87vh;
	top: 6vh;
	left: 13vh;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 1px;
}

#close_button {
	position: absolute;
	top: 9px;
	right: 6.5vh;
	width: 30px;
	height: 30px;
}

.centered {
	display:block;
	vertical-align: middle;
}

#section_two{
	color: black;
	position: absolute;
	top: 100%;
	width: 100vw;
	height: 200vh;
	margin-top: 0px;
	margin-left: -8px;
	background: url(/001.png), url(/002.png),url(/003.png),url(/004.png);
	background-position: left top,right top,left bottom, right bottom;
	background-repeat: no-repeat;
	background-size: 50vw 51vh;
	background-attachment: fixed;
	-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -webkit-filter: grayscale(100%);
         filter: gray;
         filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

#section_two_gradient {
	width: 100%;
	height: 100%;
	background: url(/001.png), url(/002.png),url(/003.png),url(/004.png);
	background-position: left top,right top,left bottom, right bottom;
	background-repeat: no-repeat;
	background-size: 50vw 51vh;
	background-attachment: fixed;
	z-index: 3;
}

#section_two:before{
	content:"";
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    background-color: rgba(255, 255, 255, 0.9);
}

