* {
	overflow-x: hidden;
}

body {
	font-size: 50pt;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
}

#navbar {
	position: fixed;
	background-color: white;
	width: 100%;
	height: 60px;
	z-index: 2000;
	font-size: 10pt;
	top: 0;
	left: 0;
	display: none;
}

#navbar2 {
	position: absolute;
	width: 100%;
	height: 60px;
	z-index: 2;
	font-size: 10pt;
	top: 0;
	left: 0;
}

#login_form {
	position: fixed;
	top: 32%;
	left: 40%;
	z-index: 501;
	color: white;
	font-size: 38px;
}

#register_form {
	position: fixed;
	top: 35%;
	left: 40%;
	z-index: 501;
	color: white;
	font-size: 38px;
}

form div {
	margin-bottom: 14px;
}

form div input {
	border-radius: 5px;
	border: 0;
}

.form_text {
	font-size: 14pt;
	margin-right: 15px;
}

.form_text2 {
	font-size: 12pt;
	margin-top: 5px;
}

.fade2 {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.9) !important;
	z-index: 500;
}

#sidr {
	font-family: 'Open Sans', sans-serif;
	background-color: black;
}

#sidr>p{
	color: gray;
	text-align: left;
	font-size: 2vh;
	line-height: 3.4vh;
	position: absolute;
	top: 10%;
}

#sidr div{
	position: absolute;
	bottom: 3%;
	right: 6%;
	text-align: left;
	font-size: 2vh;
}

#sidr span {
	font-size: 2vh;
	color: white;
}

#nav_head {
	margin-top:20px;
	float:left;
	margin-left: 5%;
	font-size: 12pt;
}

#arrow {
	z-index: 15;
	position: absolute;
	top: 90%;
	left: 50%;
}

.fade {
	opacity:1;
	background-color: black !important;
}

.bold {
	font-weight: bold;
}

.icons {
	margin-top:20px;
	float: right;
	margin-right: 5%;
	font-size: 10px;
}

.links {
	float:left;
	margin-right: 30px;
	font-size: 11px;
}

.subicons {
	float:left;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: black;
}

.links>a{
	margin-right: 33px;
}

.subicons>a {
	margin-right: 10px;
}

div>a>img {
	margin-left: 10px;
}

#video_area {
	color: white;
	background-image: url(/startImg_2.gif);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 11pt;
	font-weight: 200;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#text {
	position:absolute;
 	top:40%;
 	left:18%;
 	width: 64%;
 	min-height: 20%;
 	font-weight: 300;
 	opacity: 1;
 	font-size: 10.1pt;
 	letter-spacing: 4.5px;
 	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.009);
}

#text_container {
  font-size: 12pt;
  letter-spacing: 8px;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#page2_text{
    position:absolute;
    top:5%;
    font-family: 'Merriweather', serif;
    left:25%;
    text-align: justify;
    width: 50%;
    letter-spacing: 1px;
}

#page2_text p{
	font-size: 14pt !important;
	line-height: 27pt;
}

#text_container>span {
	font-weight: 399;
	font-size: 42pt;
	letter-spacing: 20px;
}

#select_area{
	position: absolute;
	top:33%;
  	left:38%;
  	width: 25%;
  	height: 30%;
  	z-index: 2;
}

#playButton{
  position:absolute;
  top:38%;
  left:47%;
}

#background {
	z-index: 1;
	display: inline-block;
}

#black_layer {
	background-color: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	z-index: 1;
}

.background {
	display: inline-block;
	width: 50%;
	height: 50%;
	float: left;
}

.grayscale {
    filter: client/filters.svg#grayscale; /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.hidden {
	display: none !important;
	opacity: 0 !important;
}

#video {
	position: absolute;
	z-index: 3;
	width: 83%;
	height: 87%;
	top: 6%;
	left: 9%;
	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 1px;
}

#close_button {
	position: absolute;
	top: 9px;
	right: 4%;
	width: 30px;
	height: 30px;
}

.centered {
	display:block;
	vertical-align: middle;
}

#section_two{
	color: black;
	position: absolute;
	top: 100%;
	width: 100%;
	height: 150%;
	margin-top: 0px;
	margin-left: -8px;
}

#section_two1 {
	height:100%;
	width:100%;
	background: url(/001.png), url(/002.png),url(/003.png),url(/004.png);
	background-position: left top,right top,left bottom, right bottom;
	background-repeat: no-repeat;
	background-size: 51% 51%;
	background-attachment: fixed;
	-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    -ms-filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

#section_two1:before{
	content:"";
    display:block;
    position:absolute;
    width:100%;
    height: 100%;
    z-index:-1;
    background-color: rgba(255, 255, 255, 0.9);
}

#section_three {
	margin-top: 1px;
	top:250%;
	left: 0;
	width: 100%;
	position: absolute;
	z-index: 5;
	text-align: left;
}

.left_column {
	margin-top: 8%;
	float: left;
	margin-left: 6%;
	width: 28%;
	height: 100%;
	margin-right: .9%;
}

.middle_column {
	margin-top: 8%;
	width: 28%;
	height: 100%;
	display: inline-block;
	margin-left: .9%;
}

.right_column {
	margin-top: 8%;
	float: right;
	margin-right: 6.5%;
	width: 28%;
	height: 100%;
}

.column_image {
	width: 100%;
}

.gallery {
	display: none;
}

#gallery_text {
	position: absolute;
	top: 48px;
	font-size: 8pt;
	width: 300px;
}

.img_text_top {
	margin-top: -20px;
	font-size: 14pt;
}

.img_text_bottom {
	margin-top: -28px;
	font-size: 8pt;
	line-height: 17px;
}

.gray1 {
	margin-right: 28.8px;
	color: gray;
}

.gray2 {
	margin-right: 17px;
	color: gray;
}

#main_page_dark {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 250%;
	left: 0;
}

#close_button2 {
	position: absolute;
	top: 263%;
	right: 17%;
	width: 30px;
	height: 30px;
}